<mat-accordion>
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header>
        <mat-panel-title style="font-weight: 500;">
          Who made this and why?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>I made this primarily for the CRC, with the idea to eventually extend this to 12 step meetings.</p>
      <p>The select dropdown in the navbar allows users to switch to their meeting modality of choice.</p>
    </mat-expansion-panel>
    <mat-expansion-panel class="panel2">
      <mat-expansion-panel-header>
        <mat-panel-title style="font-weight: 500;">
          Topic Content
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>At the moment most of these topics are directly related to 12 step stuff.</p>
      <p>These topics are taken from <b>"101 Meeting Starters - Hazelden"</b></p>
    </mat-expansion-panel>
    <mat-expansion-panel class="panel2">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-weight: 500;">
            Suggested Features
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>What should I add?</p>
      </mat-expansion-panel>
</mat-accordion>
  
